{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">

      <header class="page-header">

        <h1 class="heading-xlarge">Stand and Deliver</h1>
      
      </header>

      <p>Use this service to help you prepare for your Daily Scrum - often called the Daily Standup.</p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You'll need your login details for all the services you wnt to link to this tool, such as Jira, Github, Slack and Google Tools.</p>

      <a class="button" href="2" role="button">Start Now</a>

  </div>

</main>

{% endblock %}
