{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-one-half">
      <img src="http://via.placeholder.com/350x150" alt="">
    </div>

    <div class="column-one-half">
      <h1 class="heading-xlarge">Name</h1>
      <a class="button button-start" href="#" role="button">Download</a>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">


      <ul class="list list-bullet">
        <li>An app to help remind &amp; prepare for your daily scrum meeting.</li>
        <li>Integrated with Jira, Confluence, Gmail, Google Calendar, Github, Slack.</li>
        <li>Share your 'Standup Story' with your team.</li>
        <li>Notifications for standup &amp; reminders to fill in.</li>
      </ul>
      
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">Comments/Reviews</h2>
      <p class="stars">4.5</p>
      <ul>
        <li><span class="stars">5</span>Excellent! Really helpful!</li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
