{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="2a.html">
        <fieldset class="form-group">

          <legend>
            <h1 class="heading-xlarge">What tools will help you prepare for the Daily Scrum?</h1>
          </legend>

          <div class="multiple-choice">
            <input id="option1" name="options" type="checkbox" value="service-1">
            <label for="option1">Jira</label>
          </div>

          <div class="multiple-choice">
            <input id="option2" name="options" type="checkbox" value="service-2">
            <label for="option2">Github</label>
          </div>

          <div class="multiple-choice">
            <input id="option3" name="options" type="checkbox" value="service-3">
            <label for="option3">Slack</label>
          </div>

          <div class="multiple-choice">
            <input id="option4" name="options" type="checkbox" value="service-4">
            <label for="option4">Google Tools</label>
          </div>
        </fieldset>

        <input class="button" type="submit" value="Save">
      </form>

    </div>
  </div>
</main>

{% endblock %}
