{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="3.html">
        <fieldset class="inline">

          <legend>
            <h1 class="heading-xlarge">Do you want to use the standard settings?</h1>
          </legend>

          <div class="multiple-choice">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="yes">
            <label for="radio-inline-1">Yes - I want to use the standard settings</label>
          <div class="multiple-choice">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="no">
            <label for="radio-inline-2">No - I want to customise my settings</label>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</main>

{% endblock %}
