{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="3a.html">
        <fieldset>

          <legend>
            <h1 class="heading-xlarge">What is your role?</h1>
          </legend>

          <div class="multiple-choice">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="dev">
            <label for="radio-inline-1">Developer</label>
          </div>

          <div class="multiple-choice">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="test">
            <label for="radio-inline-2">Tester</label>
          </div>

          <div class="multiple-choice">
            <input id="radio-inline-3" type="radio" name="radio-inline-group" value="ur">
            <label for="radio-inline-3">User Researcher</label>
          </div>

          <div class="multiple-choice">
            <input id="radio-inline-4" type="radio" name="radio-inline-group" value="interaction">
            <label for="radio-inline-4">Interaction Designer</label>
          </div>

          <div class="multiple-choice">
            <input id="radio-inline-5" type="radio" name="radio-inline-group" value="content">
            <label for="radio-inline-5">Content Designer</label>
          </div>

          <div class="multiple-choice">
            <input id="radio-inline-6" type="radio" name="radio-inline-group" value="ba">
            <label for="radio-inline-6">Business Analyst</label>
          </div>

          <div class="multiple-choice">
            <input id="radio-inline-7" type="radio" name="radio-inline-group" value="pm">
            <label for="radio-inline-7">Product Manager</label>
          </div>

          <div class="multiple-choice">
            <input id="radio-inline-8" type="radio" name="radio-inline-group" value="sm">
            <label for="radio-inline-8">Scrum Master</label>
          </div>

          <div class="multiple-choice" data-target="other">
            <input id="radio-inline-9" type="radio" name="radio-inline-group" value="other">
            <label for="radio-inline-9">Other</label>
          </div>

          <div class="panel panel-border-narrow js-hidden" id="other">
            <label class="form-label" for="other-text">What is your role?</label>
            <input class="form-control" name="other-text" type="text" id="other-text">
          </div>
        </fieldset>
        <input class="button" type="submit" value="Continue">
      </form>
    </div>
  </div>
</main>

{% endblock %}
