{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Heading</h1>

        <div class="subsections accordion-with-descriptions-01" data-module="accordion-with-descriptions">

        <div class="subsection-controls">
          <button class="js-open-close if-no-js-hide"></button>
        </div>

        <div class="subsection-wrapper">

          <div class="subsection">
            <div class="js-toggle-disclosure">
              <h2 class="subsection__title">Jira</h2>
              <p class="subsection__description">Sub description if needed</p>
              <span class="subsection__icon if-no-js-hide" aria-hidden="true"></span>
            </div>

            <div class="js-toggle-disclosure-target if-js-hide"> 
              <ul class="subsection__items">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
              </ul>
            </div>
          </div>

          <div class="subsection">
            <div class="js-toggle-disclosure">
                <h2 class="subsection__title">Github</h2>
                <p class="subsection__description">This is the description for subsection 2</p>
                <span class="subsection__icon if-no-js-hide" aria-hidden="true"></span>
            </div>

            <div class="js-toggle-disclosure-target if-js-hide">
              <ul class="subsection__items">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
              </ul>
            </div>
          </div>

          <div class="subsection">
            <div class="js-toggle-disclosure">
              <h2 class="subsection__title">Calendar</h2>
              <p class="subsection__description">This is the description for subsection 3</p>
              <span class="subsection__icon if-no-js-hide" aria-hidden="true"></span>
            </div>

            <div class="js-toggle-disclosure-target if-js-hide">
              <ul class="subsection__items">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
              </ul>
            </div>
          </div>
          <div class="subsection">
            <div class="js-toggle-disclosure">
              <h2 class="subsection__title">Email</h2>
              <p class="subsection__description">This is the description for subsection 4</p>
              <span class="subsection__icon if-no-js-hide" aria-hidden="true"></span>
            </div>

            <div class="js-toggle-disclosure-target if-js-hide">
              <ul class="subsection__items">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>
{% endblock %}

{% block body_end %}
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/govuk/modules.js"></script>
  <script src="/public/javascripts/modules/accordion-with-descriptions-01.js"></script>
  <script src="/public/javascripts/govuk/start-modules.js"></script>
{% endblock %}
