{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Your activity summary</h1>
      <p>Uncheck the items you do not want to appear in your Daily Scrum update</p>

      <div class="subsections accordion-with-descriptions-01" data-module="accordion-with-descriptions">

        <div class="subsection-controls">
          <button class="js-open-close if-no-js-hide"></button>
        </div>

        <div class="subsection">
          <div class="js-toggle-disclosure">
            <h2 class="subsection__title">Jira</h2>
            <p class="subsection__description">3 of 3 items selected</p>
            <span class="subsection__icon if-no-js-hide" aria-hidden="true"></span>
          </div>

          <div class="js-toggle-disclosure-target if-js-hide"> 
            <ol class="list" style="overflow: hidden;">
              <li>
                <span class="multiple-choice">
                  <input id="option1" name="options" type="checkbox" value="service-1" checked>
                  <label for="option1">
                    You changed the status to Done on <a href="#">PTC-1856 - View CY-2 balanced 'no employments' and 'SA' summary card and page</a>
                  </label>
                </span>
              </li>
              <li>
                <span class="multiple-choice">
                  <input id="option1" name="options" type="checkbox" value="service-1" checked>
                  <label for="option1">
                    You commented on <a href="#">PTC-1856 - View CY-2 balanced 'no employments' and 'SA' summary card and page</a>
                    <div class="panel panel-border-narrow">"PO signoff complete and merged to master"</div>
                  </label>
                </li>
                <li>
                  <span class="multiple-choice">
                    <input id="option1" name="options" type="checkbox" value="service-1" checked>
                    <label for="option1">
                      You started progress on <a href="#">PTC-1720 - Tables are not fully accessible</a>
                    </label>
                  </span>
                </li>
              </ol>
            </div>
          </div>

          <div class="subsection">
            <div class="js-toggle-disclosure">
              <h2 class="subsection__title">Github</h2>
              <p class="subsection__description">2 of 2 items selected</p>
              <span class="subsection__icon if-no-js-hide" aria-hidden="true"></span>
            </div>

            <div class="js-toggle-disclosure-target if-js-hide">
              <ol class="list" style="overflow: hidden;">
                <li>
                  <span class="multiple-choice">
                    <input id="option1" name="options" type="checkbox" value="service-1" checked>
                    <label for="option1">
                      New comments on pull request <a href="#">#12 PTC 1741 - Summary cards for balanced and no rec</a>
                      <div class="panel panel-border-narrow"><p class="bold-small">timsb on line 7 of conf/messages: </p>We shouldn't be putting html inside messages. Could you separate them messages out and then pass the html in as an argument.</div>
                      <div class="panel panel-border-narrow"><p class="bold-small">You on line 7 of conf/messages: </p>I have fixed this issue, but be aware there is other HTML within our messages.</div>
                    </label>
                  </span>
                </li>
                <li>
                  <span class="multiple-choice">
                    <input id="option1" name="options" type="checkbox" value="service-1" checked>
                    <label for="option1">
                      Pull request closed: <a href="#">#12 PTC 1741 - Summary cards for balanced and no rec</a>
                    </label>
                  </span>
                </li>
              </ol>
            </div>
          </div>

          <div class="subsection">
            <div class="js-toggle-disclosure">
              <h2 class="subsection__title">Calendar</h2>
              <p class="subsection__description">3 of 3 items selected</p>
              <span class="subsection__icon if-no-js-hide" aria-hidden="true"></span>
            </div>

            <div class="js-toggle-disclosure-target if-js-hide">
              <p>You were in 3 events yesterday</p>
              <ol class="list" style="overflow: hidden;">
                <li>
                  <span class="multiple-choice">
                    <input id="option1" name="options" type="checkbox" value="service-1" checked>
                    <label for="option1">
                      <a href="#" class="bold-small">Daily stand up - Team 16</a> 10:15 AM to 10:30 AM at <a href="#">Around the board</a>
                    </label>
                  </span>
                </li>
                <li>
                  <span class="multiple-choice">
                    <input id="option1" name="options" type="checkbox" value="service-1" checked>
                    <label for="option1">
                      <a href="#" class="bold-small">P800 Lunchtime Countdown</a> 12:45 PM to 1:00 PM at <a href="#">Team TV</a>
                    </label>
                  </span>
                </li>
                <li>
                  <span class="multiple-choice">
                    <input id="option1" name="options" type="checkbox" value="service-1" checked>
                    <label for="option1">
                      <a href="#" class="bold-small">Sprint Planning</a> 2:00 PM to 3:00 PM at <a href="#">Orange Show and Tell</a>
                    </label>
                  </span>
                </li>
              </ol>
            </div>
          </div>
          <div class="subsection">
            <div class="js-toggle-disclosure">
              <h2 class="subsection__title">Email</h2>
              <p class="subsection__description">2 of 2 items selected</p>
              <span class="subsection__icon if-no-js-hide" aria-hidden="true"></span>
            </div>

            <div class="js-toggle-disclosure-target if-js-hide">
              <p>You sent 2 emails yesterday</p>
              <ol class="list" style="overflow: hidden;">
                <li>
                  <span class="multiple-choice">
                    <input id="option1" name="options" type="checkbox" value="service-1" checked>
                    <label for="option1">
                      <a href="#">User Research session</a> to Paul Welsh
                    </label>
                  </span>
                </li>
                <li>
                  <span class="multiple-choice">
                    <input id="option1" name="options" type="checkbox" value="service-1" checked>
                    <label for="option1">
                      <a href="#">Coffee?</a> to Vimal Suresh
                    </label>
                  </span>
                </li>
              </ol>
            </div>
          </div>
          <form action="6.html" class="subsection-wrapper">
            <fieldset class="form-group">
              <input class="button" type="submit" value="Continue">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block body_end %}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/modules.js"></script>
<script src="/public/javascripts/modules/accordion-with-descriptions-01.js"></script>
<script src="/public/javascripts/govuk/start-modules.js"></script>
{% endblock %}
