{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Your activity summary for today</h1>
      <p>Uncheck the items you do not want to appear in your Daily Scrum update</p>

      <div class="subsections accordion-with-descriptions-01 form-group" data-module="accordion-with-descriptions">

        <div class="subsection-controls">
          <button class="js-open-close if-no-js-hide"></button>
        </div>

        <div class="subsection">
          <div class="js-toggle-disclosure">
            <h2 class="subsection__title">Jira</h2>
            <p class="subsection__description">1 of 1 items selected</p>
            <span class="subsection__icon if-no-js-hide" aria-hidden="true"></span>
          </div>

          <div class="js-toggle-disclosure-target if-js-hide"> 
            <ol class="list" style="overflow: hidden;">
              <li>
                <span class="multiple-choice">
                  <input id="option1" name="options" type="checkbox" value="service-1" checked>
                  <label for="option1">
                    You have an open ticket: <a href="#">PTC-1720 - Tables are not fully accessible</a>
                  </label>
                </span>
              </li>
              </ol>
            </div>
          </div>

          <div class="subsection">
            <div class="js-toggle-disclosure">
              <h2 class="subsection__title">Calendar</h2>
              <p class="subsection__description">1 of 1 items selected</p>
              <span class="subsection__icon if-no-js-hide" aria-hidden="true"></span>
            </div>

            <div class="js-toggle-disclosure-target if-js-hide">
              <p>You have 1 events today</p>
              <ol class="list" style="overflow: hidden;">
                <li>
                  <span class="multiple-choice">
                    <input id="option1" name="options" type="checkbox" value="service-1" checked>
                    <label for="option1">
                      <a href="#" class="bold-small">Sprint Retrospective</a> 10:00 AM to 11:00 AM at <a href="#">Orange Show and Tell</a>
                    </label>
                  </span>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <form action="5b.html" class="subsection-wrapper">
          <fieldset class="form-group">
            <input class="button" type="submit" value="Continue">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block body_end %}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/modules.js"></script>
<script src="/public/javascripts/modules/accordion-with-descriptions-01.js"></script>
<script src="/public/javascripts/govuk/start-modules.js"></script>
{% endblock %}
