{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Your Daily Scrum update</h1>
      <section>
        <h2 class="heading-large">What you did yesterday</h2>
        <h3 class="heading-medium">What you did yesterday</h2>
        <p class="text"></p>
      </section>
      <section>
        <h2 class="heading-large">What you are doing today</h2>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa deleniti, reprehenderit quas ratione eveniet alias aliquid impedit cum. Animi ipsam commodi non distinctio, omnis enim, corrupti quas repudiandae porro!</p>
      </section>
      <section>
        <h2 class="heading-large">  Any blockers</h2>
        <p class="text">You have no blockers.</p>
      </section>
      <section>
         <form action="6.html">
          <fieldset class="form-group">
             <label class="heading-large" for="textarea">Anything else</label>
             <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5" placeholder="Text box"></textarea>
           </fieldset>
           <input class="button" type="submit" value="Continue">
         </form>
      </section>

    </div>
  </div>
</main>
{% endblock %}
