{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="8.html">
        <legend>
          <h1 class="heading-xlarge">How do you want to get your update?</h1>
        </legend>

        <fieldset class="form-group">
          <div class="multiple-choice">
            <input id="option1" name="options" type="checkbox" value="print">
            <label for="option1">Print it</label>
          </div>

          <div class="multiple-choice">
            <input id="option2" name="options" type="checkbox" value="email">
            <label for="option2">Send it to my email</label>
          </div>

          <div class="multiple-choice">
            <input id="option3" name="options" type="checkbox" value="slack">
            <label for="option3">Send it to Slack</label>
          </div>

          <div class="multiple-choice">
            <input id="option4" name="options" type="checkbox" value="sms">
            <label for="option4">Text it to me (SMS)</label>
          </div>
        </fieldset>
        <input class="button" type="submit" value="Save">
      </form>
    </div>
  </div>
</main>
{% endblock %}
